h1{
    margin: 0;
    text-align: center;
    background-color: gray;
}

.form-group{
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form-control{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right:150px;
    align-items: center;
}
label{
    margin-top: 10px;
    font-size: 18px;
}

input{
    width: 50%;
    padding: 5px;
    font-size: 20px;
}

.button{
    align-self: center;
    width: 150px;
    padding: 4px;
    border: none;
    background-color: #0094d9;
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 3px;
}

.header1{
    background-color: #722F37;
    height: 60px;
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 100;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 80px;
    align-items: center;
}
h3
{
   margin-left: 500px;
}
a{
    text-decoration: none;
    color: white;
}

